{% extends 'core/base.html' %}

{% block content %}

<div class="card">
  <h5 class="card-header">Pedido de Venda</h5>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">
      <div class="row">
        <div class="col-md-8">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          Cliente : {{ cabecalho_nfe.cliente }}
        </div>
      </div>
    </p>
  </div>
</div>
{% endblock %}
