{% extends 'core/base.html' %}
{% block content %}
<div class="row">

	<div class="col-md-2 text-center">
		
		<div class="card">	
		  <div class="card-body">
		  	<a href="{% url 'clientes' %}">
		    	<i class="fa fa-group fa-4x"></i>
		    </a>
		    <hr>
		    <label>Clientes</label>
		  </div>
		</div>

	</div>
	<div class="col-md-2 text-center">

		<div class="card">	
		  <div class="card-body">
		  	<a href="{% url 'fornecedores' %}">
		    	<i class="fa fa-truck fa-4x"></i>
		    </a>
		    <hr>
		    <label>Fornecedores</label>
		  </div>
		</div>

	</div>

	<div class="col-md-2 text-center">
		
		<div class="card">	
		  <div class="card-body">
		  	<a href="{% url 'produtos' %}">
		    	<i class="fa fa-shopping-bag fa-4x"></i>
		    </a>
		    <hr>
		    <label>Produtos</label>
		  </div>
		</div>


	</div>

	<div class="col-md-2 text-center">
		
		<div class="card">	
		  <div class="card-body">
		  	<a href="{% url 'venda' %}">
		    	<i class="fa fa-file-code-o fa-4x"></i>
		    </a>
		    <hr>
		    <label>NF-e</label>
		  </div>
		</div>


	</div>
	<div class="col-md-2"></div>
	<div class="col-md-2"></div>
</div>


{% endblock %}