{% extends 'core/base.html' %}
{% block content %}

 <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>
         <li class="breadcrumb-item active">Produtos</li>
      </ol>
      <div class="row">
      	<div class="col-md-6">
      		<h2 class="fa fa-shopping-bag fa-2x">  Produtos</h2>
      	</div>
      	<div class="col-md-6 text-right">
      		<a href="{% url 'criar_produto' %}" class="btn btn-dark">Novo</a>
      	</div>
      </div>
      <hr>

  <form method="POST"> {% csrf_token %}
    <div class="row">
    	<div class="col-md-10">
    		<input type="text" name="q" class="form-control" placeholder="Pesquisar">
    	</div>
    	<div class="col-md-2">
    		<button type="submit" class="btn btn-light fa fa-search"></button>
    	</div>
    </div>
  </form>

<hr>
<div class="card-deck">

  {% for l in lista %}

  <div class="card">
    <img class="card-img-top" src="{{ l.imagem.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">R$ {{ l.valor_venda }}</h5>

      <p class="card-text">
        Qtn: {{ l.unidade }}
        <hr>
        {{ l.descricao }}
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <a href="{% url 'detalhe_produto' l.slug %}" class="btn btn-secondary btn-sm">Detalhe</a>
        <a href="{% url 'editar_produto' l.slug  %}" class="btn btn-secondary btn-sm">Editar</a>
      </small>
    </div>
  </div>

  {% endfor %}

</div>

<hr>

<div class="pagination">
    <span class="step-links">
        {% if lista.has_previous %}
            <a href="?page={{ lista.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ lista.number }} de {{ lista.paginator.num_pages }}.
        </span>

        {% if lista.has_next %}
            <a href="?page={{ lista.next_page_number }}">próxima</a>
        {% endif %}
    </span>
</div>
{% endblock %}
