{% extends 'core/base.html' %}
{% block content %}
 <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'home' %}">Dashboard</a>
        </li>

        <li class="breadcrumb-item">
          <a href="{% url 'fornecedores' %}">Fornecedores</a>
        </li>
        <li class="breadcrumb-item active">Detalhe</li>
      </ol>

<h2 class="fa fa-truck fa-2x">  Fornecedor Detalhe</h2>
<hr>

<div class="row">
  <div class="col-md-8">

    {% if fornecedor.pessoa_juridica == True %}
      <p>Tipo: Pessoa Jurídica </p>


    {% endif %}
    <p>Nome  :<b> {{ fornecedor.nome_fantasia }}</b></p>



    {% if fornecedor.nome_razao_social %}
    <p>Razão Social :<b> {{ fornecedor.nome_razao_social }}</b></p>
    {% endif %}

    {% if fornecedor.cpf %}
    <p>CPF :<b> {{ fornecedor.cpf }}</b></p>
    {% endif %}

    {% if fornecedor.cnpj %}
    <p>Nome / Razão Social :<b> {{ fornecedor.nome }}</b></p>
    {% endif %}

    {% if fornecedor.inscricao_estadual %}
    <p>Inscrição Estadual :<b> {{ fornecedor.inscricao_estadual }}</b></p>
    {% endif %}

    {% if fornecedor.rua_endereco %}
    <p>Rua :<b> {{ fornecedor.rua_endereco }}</b></p>
    {% endif %}

    {% if fornecedor.numero_endereco %}
    <p>Número :<b> {{ fornecedor.numero_endereco }}</b></p>
    {% endif %}

    {% if fornecedor.bairro %}
    <p>Bairro :<b> {{ fornecedor.bairro }}</b></p>
    {% endif %}

    {% if fornecedor.cidade %}
    <p>Cidade :<b> {{ fornecedor.cidade }}</b></p>
    {% endif %}

    {% if  fornecedor.complemento_end %}
    <p>Complemento :<b> {{ fornecedor.complemento_end }}</b></p>
    {% endif %}

    {% if  fornecedor.cep %}
    <p>CEP :<b> {{ fornecedor.cep }}</b></p>
    {% endif %}

    {% if  fornecedor.codigo_ibge_cidade %}
    <p>IBGE :<b> {{ fornecedor.codigo_ibge_cidade }}</b></p>
    {% endif %}

    {% if  fornecedor.fone %}
    <p>Telefone :<b> {{ fornecedor.fone }}</b></p>
    {% endif %}

    {% if fornecedor.email %}
    <p>Email :<b> {{ fornecedor.email }}</b></p>
    {% endif %}

  </div>
  <div class="col-md-4">



    <div class="card" >
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Criado por: {{ fornecedor.criado_por }}</p>
        <p class="card-text">Criado em: {{ fornecedor.criado_em }}</p>
        {% if fornecedor.editado_por %}
          <p class="card-text">Ultimo usuário que editou: {{ fornecedor.editado_por }}</p>
          <p class="card-text">Ultima edição em: {{ fornecedor.editado_em }}</p>
        {% else %}
        {% endif %}
      </div>
    </div>


  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
    {% if fornecedor.pessoa_juridica == True %}
      <a href="{% url 'editar_fornecedor_pessoa_juridica' fornecedor.slug %}" class="btn btn-warning">Editar</a>

    {% elif  fornecedor.pessoa_juridica == False  %}
      <a href="{% url 'editar_fornecedor_pessoa_fisica' fornecedor.slug %}" class="btn btn-warning">Editar</a>
    {% endif %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger text-" data-toggle="modal" data-target="#exampleModal">
      Deletar
    </button>

  </div>
</div>

 <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Remover Fornecedor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger">
              Atenção! Você removerá o Fornecedor <b>{{ fornecedor.nome }}</b> da sua base de dados!
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

            <a href="{% url 'remove_fornecedor' fornecedor.slug %}" class="btn btn-danger">Deletar</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
